@page "/Compra/{CursoId:int}"
@using ProyectoCursos.Client.Sesion;
@using ProyectoCursos.Shared;
@inject HttpClient httpClient
@inject NotificationService notificationService
@inject IUsuarioAutenticadoService usuarioAutenticadoService

<div class="container ">
    <div class="card shadow-lg">
        <div class="card-header">
            @*Imagen*@
            <div class="mb-3">
                @if (Curso?.RutaImagen != null)
                {
                    var base64 = Convert.ToBase64String(Curso.RutaImagen);
                    var imgSrc = $"data:image/jpeg;base64,{base64}";
                    <img src="@imgSrc" alt="Imagen del curso" class="item-imagen" />
                }
            </div>
            <h3>@Curso?.NombreCurso</h3>
        </div>
        <div class=card-body>

            @*Descripcion*@
            <div class="mb-3">
                <label class="form-label">@Curso?.Descripcion</label>
            </div>


            @*Fecha inicio*@
            <div Class="form-group mb-3 margen">
                <label class="row-text"> @Curso?.FechaAlta.ToString("dd/MM/yyyy") </label>
            </div>

            @*Fecha fin*@
            <div Class="form-group mb-3">
                <label class="row-text">@Curso?.FechaBaja.ToString("dd/MM/yyyy") </label>
            </div>


            @*Programa*@
            <div class="form-group mb-3">
                <label class="form-label">@Curso?.Programa</label>

            </div>

            @*Cuerpo del detalle*@
            <div class=" card-body">
                <h4>Precio Limitado:</h4>
                <table class="table table-bordered table-light">
                    <thead class="thead">
                        <tr class="table">
                            <th>Id</th>
                            <th>Precio de Venta</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Curso?.PreciosDetalles != null)
                        {
                            @foreach (var detalle in Curso.PreciosDetalles)
                            {
                                <tr>
                                    <td>@detalle.PreciosDetalleId</td>
                                    <td>@detalle.Precio</td>
                                    <td>@detalle.FechaInicio.ToString("dd/MM/yyyy")</td>
                                    <td>@detalle.FechaFin.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" @onclick="() => Guardar()">Comprar <i class="oi oi-cart" /></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

@code {
    [Parameter]
    public int CursoId { get; set; }
    public int UsuarioId { get; set; }
    public Cursos? Curso { get; set; }
    public Compras Compra { get; set; } = new Compras();
    public Usuarios? user { get; set; }




    override protected async Task OnInitializedAsync()
    {
        //ralizar llamada para obtener los cursos
        user = await httpClient.GetFromJsonAsync<Usuarios>($"api/Usuario/{1}");
        var resultado = await httpClient.GetFromJsonAsync<Cursos>($"api/Cursos/{CursoId}");
        if (resultado != null)
        {
            Curso = resultado;

        }
    }

    public async void Guardar()
    {

        Compra.Usuarios = user;
        Compra.UsuarioId = user.UsuarioId;

        Compra.Cursos = Curso;
        Compra.CursoId = Curso.CursoId;
        using var error = await httpClient.PostAsJsonAsync<Compras>("api/Compras", Compra);
        if (!error.IsSuccessStatusCode)
        {
            notificationService.ShowNotification(
                titulo: "error",
                mensaje: "El Registro no se guardo",
                NotificationSeverity.Error
            );
            return;
        }
        var exito = await error.Content.ReadFromJsonAsync<Compras>();

        if (exito is not null)
        {
            this.Compra = exito;
            StateHasChanged();
            notificationService.ShowNotification(
                titulo: "Exito",
                mensaje: "Registro guardado",
                NotificationSeverity.Success
            );
        }

    }
}
