@page "/Usuarios"
@page "/Usuarios/{UsuarioId:int}"
@inject HttpClient httpClient
@inject NotificationService notificationService
@using ProyectoCursos.Client.Notificaciones;


<PageTitle>RussoCursos</PageTitle>


<EditForm Model="@Usuarios" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container ">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Usuarios.</h3>
            </div>
            <div class=card-body>

                @*UsuarioID*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Usuario Id:</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="Usuarios.UsuarioId" class="form-control" aria-describedby="BotonBuscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass" /></button>
                    </div>
                </div>

                @*Nombre Completo*@
                <div class="mb-3">
                    <label class="form-label" for="NombreCompleto">Nombre Completo:</label>
                    <RadzenTextBox @bind-Value="Usuarios.NombreCompleto" class="form-control " placeholder="Coloque su nombre completo" />
                    <ValidationMessage For="@(() => Usuarios.NombreCompleto)" />
                </div>

                @*Fecha de Nacimiento*@
                <div Class="form-group mb-3">
                    <label class="row-text"> Fecha de Nacimiento: </label>
                    <div class="input-group">
                        <input type="date" @bind-value="Usuarios.FechaNacimiento" />
                        <ValidationMessage For="@(() => Usuarios.FechaNacimiento)" />
                    </div>
                </div>

                @*Nombre de Usuario*@
                <div class="mb-3">
                    <label class="form-label" for="NombreUsuario">Nombre de Usuario:</label>
                    <RadzenTextBox @bind-Value="Usuarios.NombreUsuario" class="form-control" placeholder="Coloque un nombre de usuario" @onblur="CheckUsername" />
                    @if (usernameExiste)
                    {
                        <p class="text-danger">@MessageUsernameExiste</p>
                    }
                    <ValidationMessage For="@(() => Usuarios.NombreUsuario)" />
                </div>

                @*Email*@
                <div class="mb-3">
                    <label class="form-label" for="Email">Email:</label>
                    <RadzenTextBox @bind-Value="Usuarios.Email" class="form-control" placeholder="Coloque un Email" />
                    <ValidationMessage For="@(() => Usuarios.Email)" />
                </div>

                @*Contraseña*@
                <div class="mb-3">
                    <label class="form-label" for="Password">Contraseña:</label>
                    <div class="mb-3 input-group">
                        <RadzenTextBox type="@passwordType" @bind-Value="Usuarios.Password" class="form-control" placeholder="Coloque una Contraseña" />
                        <button type="button" @onclick="TogglePasswordVisibility" class="btn btn-primary">@BotonMostrar</button>
                    </div>
                    <ValidationMessage For="@(() => Usuarios.Password)" />
                </div>

                @*Confirmar Contraseña*@
                <div class="mb-3">
                    <label class="form-label" for="ConfirmPassword">Confirmar Contraseña:</label>
                    <div class="mb-3 input-group">
                        <RadzenTextBox type="@confirmarPasswordType" @bind-Value="confirmPassword" class="form-control" placeholder="Confirme la contraseña" />
                        <button type="button" @onclick="ToggleConfirmPasswordVisibility" class="btn btn-primary">@BotonMostrarConfirmar</button>
                    </div>
                    <ValidationMessage For="@(() => confirmPassword)" />
                </div>

                @*Rol*@
                <div class="mb-3">
                    <label class="form-label">
                        Rol:
                        <InputSelect @bind-Value="Usuarios.Rol" class="dropdown-toggle" required>
                            <option value="">Seleccione el rol</option>
                            @foreach (var item in Roles)
                            {
                                if (item.RolId == 1)
                                {
                                    continue;
                                }
                                <option value="@item.RolId">@item.NombreRol</option>
                            }
                        </InputSelect>
                    </label>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file" /></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document" /></button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash" /></button>
                </div>
            </div>
        </div>
    </div>



</EditForm>

@code {
    [Parameter]

    public int UsuarioId { get; set; }

    public Usuarios Usuarios { get; set; } = new Usuarios();

    public List<Roles> Roles { get; set; } = new List<Roles>();

    private string passwordType = "password";

    private string confirmarPasswordType = "password";

    private string BotonMostrar = "Mostrar";

    private string BotonMostrarConfirmar = "Mostrar";

    private bool usernameExiste = false;

    private string MessageUsernameExiste = "El nombre de usuario ya está en uso.";


    bool isFirstItem = true;

    private string confirmPassword = "";


    protected override async Task OnInitializedAsync()
    {
        await BuscarRoles();

        if (UsuarioId > 0)
        {
            this.Usuarios.UsuarioId = UsuarioId;
            await Buscar();
        }
    }

    private async Task CheckUsername()
    {
        await CheckUsernameExists(Usuarios.NombreUsuario);
    }

    private void TogglePasswordVisibility()
    {
        if (passwordType == "password")
        {
            passwordType = "text";
            BotonMostrar = "Ocultar";
        }
        else
        {
            passwordType = "password";
            BotonMostrar = "Mostrar";
        }
    }

    private void ToggleConfirmPasswordVisibility()
    {
        if (confirmarPasswordType == "password")
        {
            confirmarPasswordType = "text";
            BotonMostrarConfirmar = "Ocultar";
        }
        else
        {
            confirmarPasswordType = "password";
            BotonMostrarConfirmar = "Mostrar";
        }
    }

    public async Task BuscarRoles()
    {
        Roles = await httpClient.GetFromJsonAsync<List<Roles>>("api/Usuario/GetRoles");

    }

    public async Task Buscar()
    {
        try
        {

            var buscar = await httpClient.GetFromJsonAsync<Usuarios>($"api/Usuario/{Usuarios.UsuarioId}");
            if (buscar != null)
            {
                this.Usuarios = buscar;

                var roles = Roles.FirstOrDefault(n => n.RolId == Usuarios.Rol);
                if (roles != null)
                {
                    this.Usuarios.Rol = roles.RolId;
                }

                StateHasChanged();

            }
            else
            {
                notificationService.ShowNotification(
                    titulo: "Error de búsqueda",
                    mensaje: "Registro no encontrado",
                    NotificationSeverity.Error
                );
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                 titulo: "Error de búsqueda",
                mensaje: "Registro no encontrado" + ex.Message,
                NotificationSeverity.Error
            );
        }

    }
    private async Task CheckUsernameExists(string username)
    {
        try
        {
            var existingUser = await httpClient.GetFromJsonAsync<Usuarios>($"api/Usuario/GetByUsername/{username}");
            usernameExiste = existingUser != null;
        }
        catch (Exception ex)
        {
            usernameExiste = false;
        }
    }

    public async void Guardar()
    {
        if (Usuarios.Password != confirmPassword)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "La contraseña y la confirmación de contraseña no coinciden",
                NotificationSeverity.Error
            );
            return;
        }

        await CheckUsernameExists(Usuarios.NombreUsuario);

        if (usernameExiste)
        {
            Usuarios.NombreUsuarioError = "Este nombre de usuario ya está en uso.";
            return;
        }
        else
        {
            Usuarios.NombreUsuarioError = null;
        }

        try
        {
            using var response = await httpClient.PostAsJsonAsync<Usuarios>("api/Usuario", Usuarios);
            response.EnsureSuccessStatusCode();

            var exito = await response.Content.ReadFromJsonAsync<Usuarios>();
            if (exito is not null)
            {
                Usuarios = exito;
                StateHasChanged();
                notificationService.ShowNotification(
                    titulo: "Exito",
                    mensaje: "Registro guardado",
                    NotificationSeverity.Success
                );
            }
        }
        catch (HttpRequestException ex)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "Error al guardar el registro: " + ex.Message,
                NotificationSeverity.Error
            );
        }
    }

    public void Nuevo()
    {
        this.Usuarios = new Usuarios();

    }

    public async Task Eliminar()
    {
        using var eliminar = await httpClient.DeleteAsync($"api/Usuario/{Usuarios.UsuarioId}");
        if (!eliminar.IsSuccessStatusCode)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "No Pudo Eliminarse",
                NotificationSeverity.Error
            );
            return;
        }
        else
        {
            Nuevo();
        }
    }
}