@page "/"
@inject HttpClient httpClient
@inject NavigationManager navManager

<div class="catalagos">
    @foreach(var item in Cursos)
    {
        <div class="card col-3 item-card" @onclick="@(() => navegar(item.CursoId))">
            <div class="img-container">
                @if (item.RutaImagen != null)
                {
                    var base64 = Convert.ToBase64String(item.RutaImagen);
                    var imgSrc = $"data:image/jpeg;base64,{base64}";
                    <img src="@imgSrc" alt="Imagen del curso" class="item-imagen"/>
                }
            </div>
            <div class="card-body">
                @item.NombreCurso
                @item.FechaAlta.ToString("dd/MM/yyyy")
                @item.FechaBaja.ToString("dd/MM/yyyy")
            </div>
        </div>
    }
</div>

@code{
    public List<Cursos>? Cursos { get; set; } = new List<Cursos>();

    override protected async Task OnInitializedAsync()
    {
        
        Cursos = await httpClient.GetFromJsonAsync<List<Cursos>>($"api/Cursos");
    }

    public void navegar(int id)
    {
        navManager.NavigateTo($"/Compra/{id}");
    }
}