@page "/UsuariosR"
@layout LoginLayout
@inject HttpClient httpClient
@inject NotificationService notificationService
@using ProyectoCursos.Client.Notificaciones;
@using ProyectoCursos.Client.Sesion;
@inject IUsuarioAutenticadoService usuarioAutenticadoService
@inject NavigationManager NavigationManager


<PageTitle>RussoCursos</PageTitle>


<EditForm Model="@Usuarios" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container ">
        <div class="card shadow-lg">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Registro de Usuarios.</h3>
                <button class="btn btn-link" @onclick="IrALogin"><i class="oi oi-account-login"></i> Iniciar Sesión</button>
            </div>
            <div class=card-body>
                @*Nombre Completo*@
                <div class="mb-3">
                    <label class="form-label" for="NombreCompleto">Nombre Completo:</label>
                    <RadzenTextBox @bind-Value="Usuarios.NombreCompleto" class="form-control " placeholder="Coloque su nombre completo" />
                    <ValidationMessage For="@(() => Usuarios.NombreCompleto)" />
                </div>

                @*Fecha de Nacimiento*@
                <div Class="form-group mb-3">
                    <label class="row-text"> Fecha de Nacimiento: </label>
                    <div class="input-group">
                        <input type="date" @bind-value="Usuarios.FechaNacimiento" />
                        <ValidationMessage For="@(() => Usuarios.FechaNacimiento)" />
                    </div>
                </div>

                @*Nombre de Usuario*@
                <div class="mb-3">
                    <label class="form-label" for="NombreUsuario">Nombre de Usuario:</label>
                    <RadzenTextBox @bind-Value="Usuarios.NombreUsuario" class="form-control" placeholder="Coloque un nombre de usuario" @onblur="CheckUsername" />
                    @if (usernameExiste)
                    {
                        <p class="text-danger">@MessageUsernameExiste</p>
                    }
                    <ValidationMessage For="@(() => Usuarios.NombreUsuario)" />
                </div>

                @*Email*@
                <div class="mb-3">
                    <label class="form-label" for="Email">Email:</label>
                    <RadzenTextBox @bind-Value="Usuarios.Email" class="form-control" placeholder="Coloque un Email" />
                    <ValidationMessage For="@(() => Usuarios.Email)" />
                </div>

                @*Contraseña*@
                <div class="mb-3">
                    <label class="form-label" for="Password">Contraseña:</label>
                    <div class="mb-3 input-group">
                        <RadzenTextBox type="@passwordType" @bind-Value="Usuarios.Password" class="form-control" placeholder="Coloque una Contraseña" />
                        <button type="button" @onclick="TogglePasswordVisibility" class="btn btn-primary">@BotonMostrar</button>
                    </div>
                    <ValidationMessage For="@(() => Usuarios.Password)" />
                </div>

                @*Confirmar Contraseña*@
                <div class="mb-3">
                    <label class="form-label" for="ConfirmPassword">Confirmar Contraseña:</label>
                    <div class="mb-3 input-group">
                        <RadzenTextBox type="@confirmarPasswordType" @bind-Value="confirmPassword" class="form-control" placeholder="Confirme la contraseña" />
                        <button type="button" @onclick="ToggleConfirmPasswordVisibility" class="btn btn-primary">@BotonMostrarConfirmar</button>
                    </div>
                    <ValidationMessage For="@(() => confirmPassword)" />
                </div>

                @*Rol*@
                <div class="mb-3">
                    <label class="form-label">
                        Rol:
                        <InputSelect @bind-Value="Usuarios.Rol" class="dropdown-toggle" required>
                            <option value="">Seleccione el rol</option>
                            @foreach (var item in Roles)
                            {
                                if (item.RolId == 1)
                                {
                                    continue;
                                }
                                <option value="@item.RolId">@item.NombreRol</option>
                            }
                        </InputSelect>
                    </label>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document"></i></button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]

    public int UsuarioId { get; set; }

    public Usuarios Usuarios { get; set; } = new Usuarios();

    public List<Roles> Roles { get; set; } = new List<Roles>();

    private string passwordType = "password";

    private string confirmarPasswordType = "password";

    private string BotonMostrar = "Mostrar";

    private string BotonMostrarConfirmar = "Mostrar";

    private bool usernameExiste = false;

    private string MessageUsernameExiste = "El nombre de usuario ya está en uso.";


    bool isFirstItem = true;

    private string confirmPassword = "";


    protected override async Task OnInitializedAsync()
    {
        await BuscarRoles();

      
    }

    private void IrALogin()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task CheckUsername()
    {
        await CheckUsernameExists(Usuarios.NombreUsuario);
    }

    private void TogglePasswordVisibility()
    {
        if (passwordType == "password")
        {
            passwordType = "text";
            BotonMostrar = "Ocultar";
        }
        else
        {
            passwordType = "password";
            BotonMostrar = "Mostrar";
        }
    }

    private void ToggleConfirmPasswordVisibility()
    {
        if (confirmarPasswordType == "password")
        {
            confirmarPasswordType = "text";
            BotonMostrarConfirmar = "Ocultar";
        }
        else
        {
            confirmarPasswordType = "password";
            BotonMostrarConfirmar = "Mostrar";
        }
    }

    public async Task BuscarRoles()
    {
        Roles = await httpClient.GetFromJsonAsync<List<Roles>>("api/Usuario/GetRoles");

    }

   
    private async Task CheckUsernameExists(string username)
    {
        try
        {
            var existingUser = await httpClient.GetFromJsonAsync<Usuarios>($"api/Usuario/GetByUsername/{username}");
            usernameExiste = existingUser != null;
        }
        catch (Exception ex)
        {
            usernameExiste = false;
        }
    }

    public async void Guardar()
    {
        if (Usuarios.Password != confirmPassword)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "La contraseña y la confirmación de contraseña no coinciden",
                NotificationSeverity.Error
            );
            return;
        }

        await CheckUsernameExists(Usuarios.NombreUsuario);

        if (usernameExiste)
        {
            Usuarios.NombreUsuarioError = "Este nombre de usuario ya está en uso.";
            return;
        }
        else
        {
            Usuarios.NombreUsuarioError = null;
        }

        try
        {

            using var response = await httpClient.PostAsJsonAsync<Usuarios>("api/Usuario", Usuarios);
            response.EnsureSuccessStatusCode();


            var exito = await response.Content.ReadFromJsonAsync<Usuarios>();
            if (exito is not null)
            {

                confirmPassword = "";
                Usuarios = exito;
                StateHasChanged();
                notificationService.ShowNotification(
                    titulo: "Exito",
                    mensaje: "Registro guardado",
                    NotificationSeverity.Success
                );


            }
        }
        catch (HttpRequestException ex)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: "Error al guardar el registro: " + ex.Message,
                NotificationSeverity.Error
            );
        }
    }

}